
    <div class="alyo-padding-10px">
        <h1 [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="alyo-bordo-rotondo-20px alyo-testo-centro alyo-padding-10px">Informazioni</h1>
    </div>

    <div class="row alyo-padding-5px" style="margin: 0px; padding: 5px;">
        
        <div class="col-xs-6 col-sm-6 alyo-padding-5px" style="margin: 0px; padding: 0px;">
            <div [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="alyo-ombra alyo-testo-centro alyo-bordo-rotondo-20px alyo-cornice-ombra alyo-margine-sotto-10px alyo-padding-10px">
                <img style="width: 200px;" class="alyo-bordo-rotondo-50 alyo-margine-sotto-10px" src="./../../assets/profilo/immagine_profilo.jpeg">
                <h3 style="padding: 0px; margin: 0px;">👱🏻‍♂️ ᗩլ¥ΘŠĦᗩ ᐺᗩլլᑗ©©Ї</h3>
            </div>  
        </div>

        <div class="col-xs-6 col-sm-6 alyo-padding-5px" style="margin: 0px; padding: 5px;">
            <div [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="alyo-ombra alyo-testo-centro alyo-bordo-rotondo-20px alyo-cornice-ombra alyo-padding-10px">
                <div class="alyo-padding-10px alyo-testo-centro alyo-bordo-rotondo-10px alyo-margine-sotto-10px" [ngClass]="[cac.colorefisso('testo',0)]">Lettera Di Presentazione</div>
                <div class="alyo-padding-10px alyo-testo-centro alyo-bordo-rotondo-10px" [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]">Sono una persona dinamica e volenterosa pronta crescere professionalmente. Molto interessato alle dinamiche del problem solving, in particolare nel campo dell’informatica. Quest’ultima mi appassiona particolarmente.</div>
            </div>
        </div>

    </div>

    <div class="row alyo-padding-5px" style="margin: 0px; padding: 5px;">
        
        <div class="col-xs-6 col-sm-6 alyo-padding-5px" style="margin: 0px; padding: 5px;">
        

            <div [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="alyo-ombra alyo-bordo-rotondo-20px alyo-padding-10px alyo-margine-sotto-10px">


                <div [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-10px" style="margin: 0px 0px 10px 0px">
                    <div class="col-6 alyo-padding-10px alyo-testo-sinistro"><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.utente"></fa-icon>Nome: </b></div>
                    <div class="col-6 alyo-padding-10px alyo-testo-destro">Alyosha</div> 
                </div>

                <div [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-10px alyo-margine-sotto-10px" style="margin: 0px 0px 10px 0px">
                    <div class="col-6 alyo-padding-10px alyo-testo-sinistro"><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.utente"></fa-icon>Cognome: </b></div>
                    <div class="col-6 alyo-padding-10px alyo-testo-destro">Vallucci</div> 
                </div>

                <div [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-10px alyo-margine-sotto-10px" style="margin: 0px 0px 10px 0px">
                    <div class="col-7 alyo-padding-10px alyo-testo-sinistro"><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.calendario"></fa-icon>Data Di Nascità: </b></div>
                    <div class="col-5 alyo-padding-10px alyo-testo-destro">01 Aprile 1990</div> 
                </div>

                <div [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-10px alyo-margine-sotto-10px" style="margin: 0px 0px 10px 0px">
                    <div class="col-8 alyo-padding-10px alyo-testo-sinistro"><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.citta"></fa-icon>Luogo Di Nascità: </b></div>
                    <div class="col-4 alyo-padding-10px alyo-testo-destro">Sassuolo</div> 
                </div>

                <div [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-10px alyo-margine-sotto-10px" style="margin: 0px">
                    <div class="col-6 alyo-padding-10px alyo-testo-sinistro"><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.persone"></fa-icon>Maschile: </b></div>
                    <div class="col-6 alyo-padding-10px alyo-testo-destro">Sassuolo</div> 
                </div>
                
            </div>
    
            
            <div [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-20px alyo-ombra" style="margin: 0px 0px 10px 0px">
                <a [ngClass]="[cac.colorefisso('testo',0)]" href="mailto:alyosha.vallucci@gmail.com"  class="alyo-testo-sinistro alyo-padding-10px alyo-bordo-rotondo-10px" style="text-decoration: none;" ><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.email"></fa-icon>Gmail:</b> alyosha.vallucci@gmail.com</a>
                <a [ngClass]="[cac.colorefisso('testo',0)]" href="mailto:alyosha.vallucci@icloud.com" class="alyo-testo-sinistro alyo-padding-10px alyo-bordo-rotondo-10px" style="text-decoration: none;" ><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.email"></fa-icon>iCloud:</b> alyosha.vallucci@icloud.com</a>
            </div> 

            <div [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-20px alyo-ombra" style="margin: 0px 0px 10px 0px">
                <a [ngClass]="[cac.colorefisso('testo',0)]" href="tel:+39059643124"  class="alyo-testo-sinistro alyo-padding-10px alyo-bordo-rotondo-10px" style="text-decoration: none;" ><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.telefono"></fa-icon>Telefono:</b>  +39 059 643124</a>
                <a [ngClass]="[cac.colorefisso('testo',0)]" href="tel:+393345491891" class="alyo-testo-sinistro alyo-padding-10px alyo-bordo-rotondo-10px" style="text-decoration: none;" ><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.cellulare"></fa-icon>Cellulare:</b>  +39 334 5491891</a>
            </div> 

            <div [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="row alyo-bordo-rotondo-20px alyo-ombra" style="margin: 0px 0px 10px 0px">
                <a [ngClass]="[cac.colorefisso('testo',0)]" href="https://wa.me/393345491891"  class="alyo-testo-sinistro alyo-padding-10px alyo-bordo-rotondo-10px" style="text-decoration: none;" ><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.telefono"></fa-icon>Whatsapp:</b> +39 3345491891</a>
                <a [ngClass]="[cac.colorefisso('testo',0)]" href="https://www.messenger.com/t/alyosha.vallucci" class="alyo-testo-sinistro alyo-padding-10px alyo-bordo-rotondo-10px" style="text-decoration: none;" ><b><fa-icon class="alyo-margine-destro-5px" [icon]="icone.cellulare"></fa-icon>Messenger:</b> +39 3345491891</a>
            </div>             
            
            <!--
    
            <div class="row alyo-cornice-ombra-bianco alyo-bordo-rotondo-pcphone-20-15 alyo-bianco-grigioscuro alyo-padding-pcphone-10-5 alyo-bianco alyo-margine-sotto-20 alyo-cornice-ombra">
                <a href="tel:+39059643124" class="alyo-link alyo-testo-colore alyo-bottone alyo-testo-sinistro alyo-padding-10px alyo-blocco alyo-bordo-rotondo-10px"><i class="fa fa-phone alyo-margine-destro-10 "></i>Telefono: +39 059 643124</a>
                <a href="tel:+393345491891" class="alyo-link alyo-testo-colore alyo-bottone alyo-testo-sinistro alyo-padding-10px alyo-blocco alyo-bordo-rotondo-10px"><i class="fa fa-phone alyo-margine-destro-10 "></i>Cellulare: +39 334 5491891</a>
            </div>
    
            <div class="row alyo-cornice-ombra-bianco alyo-bordo-rotondo-pcphone-20-15 alyo-bianco-grigioscuro alyo-padding-pcphone-10-5 alyo-bianco alyo-margine-sotto-20 alyo-cornice-ombra">
                <a href="https://wa.me/393345491891" target="_blank" class="alyo-link alyo-testo-verde alyo-bottone alyo-testo-sinistro alyo-padding-10px alyo-blocco alyo-bordo-rotondo-10px"><img class="alyo-margine-destro-10" src="https://aljoschavallucci0.webnode.it/_files/200000007-191c1191c3/whatsapp.png?_gl=1*1v5f36m*_gcl_aw*R0NMLjE2MDQzMDA3OTAuRUFJYUlRb2JDaE1JdnNpcmxLYmo3QUlWeWhWN0NoMTdLQUtnRUFBWUFTQUFFZ0stcF9EX0J3RQ..&_ga=2.254105101.465856694.1604300511-1966374714.1604300511&_gac=1.11322880.1604300792.EAIaIQobChMIvsirlKbj7AIVyhV7Ch17KAKgEAAYASAAEgK-p_D_BwE">Whatsapp</a>
                <a href="https://www.messenger.com/t/alyosha.vallucci" target="_blank" class="alyo-link alyo-testo-blu alyo-bottone alyo-testo-sinistro alyo-padding-10px alyo-blocco  alyo-bordo-rotondo-10px alyo-bordo-rotondo-1"><img class="alyo-margine-destro-10" src="https://aljoschavallucci0.webnode.it/_files/200000005-c5c00c5c02/messenger.png?_gl=1*1v5f36m*_gcl_aw*R0NMLjE2MDQzMDA3OTAuRUFJYUlRb2JDaE1JdnNpcmxLYmo3QUlWeWhWN0NoMTdLQUtnRUFBWUFTQUFFZ0stcF9EX0J3RQ..&_ga=2.254105101.465856694.1604300511-1966374714.1604300511&_gac=1.11322880.1604300792.EAIaIQobChMIvsirlKbj7AIVyhV7Ch17KAKgEAAYASAAEgK-p_D_BwE">Messenger</a>
            </div> -->

        </div>

        <div class="col-xs-6 col-sm-6 alyo-padding-10px" style="margin: 0px; padding: 5px">
            <div [ngClass]="[cac.colorefisso('sfondocontenitore',0),cac.colorefisso('testo',0)]" class="alyo-ombra alyo-bordo-rotondo-20px alyo-padding-10px alyo-margine-sotto-10px">
            
                <div class="alyo-testo-sinistro alyo-margine-sotto-5px">
                   <fa-icon class="alyo-margine-destro-5px" [icon]="icone.casa"></fa-icon><b>Residenza </b>
                </div>
                <div class="alyo-bordo-rotondo-10px alyo-margine-sotto-5px" [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]">    
                    <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                    <div class="col-4  alyo-testo-sinistro alyo-bordo-rotondo-10px alyo-padding-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Via: </b></div>    
                    <div class="col-8  alyo-bordo-rotondo-10px alyo-padding-10px alyo-testo-destro">Nuova Ponente N°4</div>
                    </div>
                    <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                    <div class="col-6 alyo-padding-10px alyo-testo-sinistro   alyo-bordo-rotondo-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.citta"></fa-icon><b>Citta: </b></div>                       
                    <div class="col-6 alyo-padding-10px alyo-bordo-rotondo-10px alyo-testo-destro">Carpi</div>
                    </div>
                    <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                    <div class="col-6  alyo-testo-sinistro   alyo-padding-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.citta"></fa-icon><b>Provincia: </b></div>
                    <div class="col-6     alyo-padding-10px alyo-testo-destro">Modena</div>
                    </div>
                    <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                    <div class="col-6  alyo-testo-sinistro             alyo-padding-10px alyo-bordo-rotondo-sotto-sinistro-10"><fa-icon class="alyo-margine-destro-5px" [icon]="icone.bandiera"></fa-icon><b>Stato: </b></div>
                    <div class="col-6   alyo-bordo-rotondo-sotto-destro-10                 alyo-padding-10px alyo-testo-destro">Italia</div>
                    </div>
                </div>
    
                <div class="alyo-testo-sinistro alyo-margine-sotto-5px">
                    <fa-icon class="alyo-margine-destro-5px" [icon]="icone.casa"></fa-icon><b>Residenza </b>
                </div>
                <div [ngClass]="[cac.colorefisso('sfondocontenitore',2),cac.colorefisso('testo',0)]" class="alyo-bordo-rotondo-10px">    
                     <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                     <div class="col-4  alyo-testo-sinistro alyo-bordo-rotondo-10px alyo-padding-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Via: </b></div>    
                     <div class="col-8  alyo-bordo-rotondo-10px alyo-padding-10px alyo-testo-destro">Nuova Ponente N°4</div>
                     </div>
                     <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                     <div class="col-6 alyo-padding-10px alyo-testo-sinistro   alyo-bordo-rotondo-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.citta"></fa-icon><b>Citta: </b></div>                       
                     <div class="col-6 alyo-padding-10px alyo-bordo-rotondo-10px alyo-testo-destro">Carpi</div>
                     </div>
                     <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                     <div class="col-6  alyo-testo-sinistro   alyo-padding-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.citta"></fa-icon><b>Provincia: </b></div>
                     <div class="col-6     alyo-padding-10px alyo-testo-destro">Modena</div>
                     </div>
                     <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                     <div class="col-6  alyo-testo-sinistro             alyo-padding-10px alyo-bordo-rotondo-sotto-sinistro-10"><fa-icon class="alyo-margine-destro-5px" [icon]="icone.bandiera"></fa-icon><b>Stato: </b></div>
                     <div class="col-6   alyo-bordo-rotondo-sotto-destro-10                 alyo-padding-10px alyo-testo-destro">Italia</div>
                     </div>
                </div>
    
            </div>

        </div>

    </div>


    <!--<div id="alyo-c11" class="col-xs-6 col-sm-6 alyo-padding-10px">

        <div class="row alyo-cornice-ombra-bianco alyo-bordo-rotondo-pcphone-20-15 alyo-bianco-grigioscuro alyo-padding-pcphone-10-5 alyo-bianco alyo-margine-sotto-pcphone-10-5 alyo-cornice-ombra">
            
            <div class="  alyo-padding-pcphone-10-5 alyo-testo-sinistro "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Residenza </b></div>
            <div class="row alyo-margine-sotto-pcphone-10-5  alyo-bordo-rotondo-10px">    
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6  alyo-testo-sinistro  alyo-bordo-rotondo-10px alyo-padding-10px "><i class="alyo-icon fa fa-map-marker-alt alyo-margine-destro-10 alyo-font-dimensioni"></i><b>Via: </b></div>    
                <div class="col-xs-6 col-sm-6   alyo-bordo-rotondo-10px   alyo-padding-10px alyo-testo-destro">Nuova Ponente N°4</div>
                </div>
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6 alyo-padding-10px  alyo-testo-sinistro   alyo-bordo-rotondo-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Citta: </b></div>                       
                <div class="col-xs-6 col-sm-6 alyo-padding-10px     alyo-bordo-rotondo-10px alyo-testo-destro">Carpi</div>
                </div>
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6  alyo-testo-sinistro   alyo-padding-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Provincia: </b></div>
                <div class="col-xs-6 col-sm-6     alyo-padding-10px alyo-testo-destro">Modena</div>
                </div>
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6  alyo-testo-sinistro             alyo-padding-10px alyo-bordo-rotondo-sotto-sinistro-10"><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Stato: </b></div>
                <div class="col-xs-6 col-sm-6   alyo-bordo-rotondo-sotto-destro-10                 alyo-padding-10px alyo-testo-destro">Italia</div>
                </div>
            </div>


            <div class="   alyo-padding-pcphone-10-5 alyo-bianco-grigioscuro alyo-testo-sinistro "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Domicilio </b></div>  
            <div class="row  ">
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6  alyo-testo-sinistro alyo-bordo-rotondo-sopra-sinistro-10   alyo-padding-10px "><i class="alyo-icon fa fa-map-marker-alt alyo-margine-destro-10 alyo-font-dimensioni"></i><b>Via: </b></div>
                <div class="col-xs-6 col-sm-6   alyo-bordo-rotondo-sopra-destro-10  alyo-padding-10px alyo-testo-destro">Nuova Ponente N°4</div>
            </div>
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6  alyo-testo-sinistro   alyo-padding-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Citta: </b></div>
                <div class="col-xs-6 col-sm-6     alyo-padding-10px alyo-testo-destro">Carpi</div>
               </div>
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6  alyo-testo-sinistro   alyo-padding-10px "><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Provincia: </b></div>
                <div class="col-xs-6 col-sm-6     alyo-padding-10px alyo-testo-destro">Modena</div>
                </div>
                <div class="row alyo-bordo-rotondo-10px" style="margin: 0px;">
                <div class="col-xs-6 col-sm-6  alyo-testo-sinistro             alyo-padding-10px alyo-bordo-rotondo-sotto-sinistro-10"><fa-icon class="alyo-margine-destro-5px" [icon]="icone.posizione"></fa-icon><b>Stato: </b></div>
                <div class="col-xs-6 col-sm-6   alyo-bordo-rotondo-sotto-destro-10                 alyo-padding-10px alyo-testo-destro">Italia</div>
           </div>
            </div>

        </div>
    </div> -->

  
